@model IEnumerable<JobTitle>
@{
    ViewData["Title"] = "Job Titles";
}

@await Html.PartialAsync("Partials/Components/_AddJobTitle", new JobTitleModel())

<div class="main-header">
    <h2>@ViewData["Title"]</h2>
    <button class="btn blue add" data-modal="true" data-target="#addJobTitleModal">Add Job Title</button>
</div>

<div class="table">
    @if (Model != null)
    foreach(var title in Model)
        {
            <div class="table-row">
                <h6>@title.Title</h6>
                <button class="btn edit" data-modal="true" data-target=@("#editForm-" + title.Id)>Edit</button>
                <a class="btn delete" asp-controller="JobTitles" asp-action="Delete" asp-route-id=@title.Id>Remove</a>
            </div>
            @await Html.PartialAsync("Partials/Components/_EditJobTitle", JobTitleFactory.Create(title))
        }
</div>