@model IEnumerable<User>

@{
    ViewData["Title"] = "Members";
}
@await Html.PartialAsync("Partials/Components/_AddMemberForm", new AddMemberModel())

<div class="main-header">
    <h2>@ViewData["Title"]</h2>
    <button class="btn blue add" data-modal="true" data-target="#addMemberModal">Add Member</button>
</div>

<div class="member-list">
    @foreach(var member in Model)
    {
        @await Html.PartialAsync("Partials/Components/_User", member)
    }
    @foreach (var member in Model)
    {
        @await Html.PartialAsync("Partials/Components/_User", member)
    }
    @foreach (var member in Model)
    {
        @await Html.PartialAsync("Partials/Components/_User", member)
    }
</div>