@{
    var res = await _memberService.GetUserAsync(x => x.UserName == User.Identity!.Name);
    var user = res.Result;
}
<section class="top">
    <div class="search">
        <label for="search">
            <input type="text" class="search-input" id="search" placeholder="Search anything..." autocomplete="off">
        </label>
    </div>
    
    <div class="icons">
        @await Html.PartialAsync("Partials/Components/_NotificationsModal")
        @await Html.PartialAsync("Partials/Components/_SettingsModal", user)
    </div>

    <hr />

    <div class="profile">
        @if (user != null)
        {
            <img class="member-img" src=@(!string.IsNullOrEmpty(user.ImageUrl) ? user.ImageUrl : "/images/DefaultProfile.png") alt="" />
        }
    </div>
</section>

@await Html.PartialAsync("Partials/_SearchScript")