@model IEnumerable<Client>
@{
    ViewData["Title"] = "Clients";
}

@await Html.PartialAsync("Partials/Components/_AddClient", new ClientModel())

<div class="main-header">
    <h2>@ViewData["Title"]</h2>
    <button class="btn blue add" data-modal="true" data-target="#addClientModal">Add Client</button>
</div>

<div class="item-list">
    @if (Model != null)
        foreach (var client in Model)
        {
            <div class="list-item" data-search="@client.Name">
                <h6>@client.Name</h6>
                <button class="btn edit" data-modal="true" data-target=@("#editForm-" + client.Id)>Edit</button>
                <a class="btn delete" asp-controller="Clients" asp-action="Delete" asp-route-id=@client.Id>Remove</a>
                @await Html.PartialAsync("Partials/Components/_EditClient", ClientFactory.Create(client))
            </div>
        }
</div>