<!DOCTYPE html>
<html lang="en" data-theme="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://kit.fontawesome.com/a576612222.css" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true">
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div class="portal">
        @await Html.PartialAsync("Partials/Sections/_Side")
        
        @await Html.PartialAsync("Partials/Sections/_Top")
        
        <div class="main">
            @RenderBody()
        </div>
        
    </div>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>