@model AddMemberModel

@* @inject  *@
@{
	var titles = new [] { "Developer", "Manager", "CEO" };
	// titles = _jobTitleService.getAllAsync();
}

<div id="addMemberModal" class="modal">
	<div class="modal-content surface">
		<div class="modal-header">
			<h3>New Member</h3>
			<button type="button" class="btn-close" data-close="true"></button>
		</div>

		<form method="post" asp-controller="Members" asp-action="Add" enctype="multipart/form-data" novalidate>
			<div class="form-group">
				@if (ViewBag.ErrorMessage != null)
				{
					<span class="submit-error field-validation-error">@ViewBag.ErrorMessage</span>
				}
				<div class="file-group">
					<label class="image-previewer circle" asp-for="MemberImage">
						<img src="" class="image-preview" />
						<input asp-for="MemberImage" accept="image/*" />
					</label>
				</div>
				<div class="input-group">
					<label asp-for="FirstName"></label>
					<input class="input" asp-for="FirstName" />
					<span asp-validation-for="FirstName"></span>
				</div>
				<div class="input-group">
					<label asp-for="LastName"></label>
					<input class="input" asp-for="LastName" />
					<span asp-validation-for="LastName"></span>
				</div>
				<div class="input-group">
					<label asp-for="Email"></label>
					<input class="input" asp-for="Email">
					<span asp-validation-for="Email"></span>
				</div>
				<div class="input-group">
					<label asp-for="PhoneNumber"></label>
					<input class="input" asp-for="PhoneNumber">
					<span asp-validation-for="PhoneNumber"></span>
				</div>
				<div class="input-group">
					<label asp-for="JobTitleId"></label>
					<select class="input" asp-for="JobTitleId">
						<option hidden value="">-- Select Title --</option>
						@foreach(var title in titles)
						{
							@* title service? *@
							@* <option value=@title>@title</option> *@
							<option value="1">Test</option>
							@* <option value=@title.Id>@title</option> *@
						}
					</select>
					<span asp-validation-for="JobTitleId"></span>
				</div>
				@* address (parts seperated) *@

				@* date of birth (3 fields, validate for valid date) *@

				<button type="submit" class="btn blue">Add Member</button>
			</div>
		</form>
	</div>
</div>

@await Html.PartialAsync("_ValidationScript")