@model AddJobTitleModel

<form class="add-form" method="post" asp-action="Add" asp-controller="Admin" novalidate>
	<div class="add-group">
		<label asp-for="Title"></label>
		<input class="input" asp-for="Title"/>
		<span asp-validation-for="Title"></span>
	</div>
	<button class="btn blue" type="submit">Add Job Title</button>
</form>