@model ClientModel

<div class="form-group">
	<span class="submit-error"></span>

	<input type="hidden" asp-for="Id" />
	<div class="input-group">
		<label asp-for="Name"></label>
		<input class="input" asp-for="Name" />
		<span asp-validation-for="Name"></span>
	</div>
</div>

@await Html.PartialAsync("Partials/_ValidationScript")