@model Member

<div id="memberOptionsModal" class="modal">
	<div class="modal-content">
		<button class="btn modal-edit" data-modal="true" data-target="#editMemberModal">Edit</button>
		<hr />
		@* Form with id to submit *@
		<a class="btn delete" asp-controller="Member" asp-action="Delete">Delete Member</a>
	</div>
</div>
@await Html.PartialAsync("Partials/Components/_EditMemberForm", MemberFactory.Create(Model))