@model Member

@await Html.PartialAsync("Partials/Components/_EditMemberForm", MemberFactory.Create(Model))

<div class="member-card surface">
	<button class="edit-btn" data-modal="true" data-target="#editMemberModal">
	</button>
	<img src="" alt="member image"/>
	<h4>@Model.FirstName @Model.LastName</h4>
	<span class="job-title">@(Model?.JobTitle != null ? Model.JobTitle : "TempTempTemp")</span>
	<span>@Model!.Email</span>
	<span>@(Model?.PhoneNumber != null ? Model.PhoneNumber : "+12 345-67 89")</span>
	<button class="btn gray" onclick="alert('Hi')">Message</button>
</div>