@model Member

<div id=@("memberOptionsModal-" + Model.Id) class="modal memberOptionsModal">
	<div class="modal-content">
		<button class="btn modal-edit" data-modal="true" data-target=@("#editForm-" + Model.Id)>Edit</button>
		<hr />
		<a class="btn delete" asp-controller="Members" asp-action="Delete" asp-route-id="@Model.Id">Delete Member</a>
	</div>
</div>
@await Html.PartialAsync("Partials/Components/_EditMember", MemberFactory.Create(Model))