<nav class ="nav-links">
    <a class="nav-link @(Context.Request.Path == "/projects" ? "active" : "")" asp-action="Projects" asp-controller="Projects">
        <i class="fa-solid fa-briefcase"></i>
        Projects
    </a>
    @if (User.IsInRole("Administrator"))
    {
        <a class="nav-link @(Context.Request.Path == "/members" ? "active" : "")" asp-action="Members" asp-controller="Members">
            <i class="fa-solid fa-users"></i>
            Team Members
        </a>
        <a class="nav-link @(Context.Request.Path == "/titles" ? "active" : "")" asp-action="JobTitles" asp-controller="JobTitles">
            <i class="fa-solid fa-user-tie"></i>
            Job Titles
        </a>
    }
</nav>