@model Project

<div class="project-card surface">
	@await Html.PartialAsync("Partials/Components/_projectOptionsModal")
	<button class="edit-btn" data-modal="true" data-toggle="true" data-close="false" data-target="#projectOptionsModal"></button>
	<div class="card-header">
		<img src="" alt="project image"/>
		<h6 class="project-name">My project</h6>
		<span class="project-client">My client</span>
	</div>
	<p class="card-description">My description</p>
	<div class="card-footer">
		<span class="deadline soon">soon&trade;</span>
		<div class="member-group">
			@* @foreach(var member in Model.Members) *@
			@* { *@
			@* 	<img src="@(member.ImageUrl != null ? member.ImageUrl : "")" alt="member profile image" /> *@
			@* } *@
			<img src="" alt="member profile image" />
			<img src="" alt="member profile image" />
		</div>
	</div>
</div>