@model Member

<div id="settingsModal" class="modal">
	<div class="modal-content surface">
		<div class="settings-top">
			<img src=@(!string.IsNullOrEmpty(Model.ImageUrl) ? Model.ImageUrl : "/images/DefaultProfile.png") alt="" />
			<span>@(Model.FirstName != null && Model.LastName != null ? $"{Model.FirstName} {Model.LastName}" : "")</span>
			<button type="button" class="btn-close" data-close="true"></button>
		</div>
		<div class="settings-middle">
			<span>Dark mode</span>
			<label for="darkmode" class="darkmode-switch">
				<input type="checkbox" id="darkmode" />
			</label>
		</div>
		<hr />
		<div class="settings-bottom">
			<a class="btn logout" asp-controller="Auth" asp-action="Logout">Log out</a>
		</div>
	</div>
</div>
